Variables and Data Types

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [1]:
x=5
if x < 6 : 
    print("Yes x 5 is less than 6")

Yes x 5 is less than 6

Variables ðŸš€
Variable are containers for storing data values.

Creating a Variable
A variable is created the moment you first assign a value to it.

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [2]:
x = 5
print(x)

5

In [3]:
y= "Dasharath"
print(y)

Dasharath

In [4]:
z = 5.5
print(z)

5.5

In [5]:
a = True 
b = False 

print ("a = ", a)
print("b = ",b)

a =  True
b =  False

What are comments ?


Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

Comments starts with a #

Comments have no affect with the program code, its only used to give the user some meaning of the code

Single Line Comment

In [6]:
# This is Single Line comment

In [9]:
""" This 
is 
multi 
line 
comment
"""

' This \nis \nmulti \nline \ncomment\n'

Casting
If you want to specify the data type of a variable, this can be done with casting.

You can get the data type of a variable with the type() function.

In [12]:
x = 5.5 
print(x)
print(type(x)) 
print(int(x))

5.5
<class 'float'>
5

Single or Double Quotes in Strings

In [13]:
abc  = "Dasharath"
xyz = 'Dasharath'

Case Sensitive
Variable names are case-sensitive

In [14]:
a = 5 
A =10.5
print("a = ",a)
print("A = ",A)

a =  5
A =  10.5

Question 01
Create a variable named myName and assign your name to it and display your name as follow

eg:- My name is Jhon

In [17]:
myName = "Dasharath"

print("My name is " + myName)
print("My name is ",myName)

My name is Dasharath
My name is  Dasharath

Question 02
Create a variable named x and assign the value 50 to it and display it as follows

eg:- 50 is a number

In [18]:
x = 50 

print(x , "is a number")

50 is a number

Question 03
Display the sum of 5 + 10, using two variables: x and y

eg:- The sum of 5 and 10 is equal to 15

In [19]:
x = 5 
y = 10

print("The Sum of ",x," and ",y," is equal to ",x+y)

The Sum of  5  and  10  is equal to  15

Question 04
Create a variable called z, assign x + y to it, and display the result.

eg:- The sum of 5 and 10 is equal to 15

In [21]:
z = x+y 

print("The sum of ",x," and ",y," is equal to ",z)

The sum of  5  and  10  is equal to  15

Question 05
Remove the illegal characters in the variable name (to make sure that your answer is correct or not, display the result of the variable)

2my-first_name = "John"

In [22]:
myfirst_name = "Dasharath"

Question 06
Insert the correct syntax to assign the same value to all three variables in one code line.

x _ y _ z _ "Orange"

In [24]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Question 07
Assign 3 different numbers in 3 different variables and display its product

eg:- 4 x 2 x 1 = 8

In [25]:
a = 4 
b = 2 
c = 1 
result = a * b * c
print("Results : ",result)

Results :  8

Question 08
For the given variables display the variable type using the type() function

Sample Output eg:- <class 'int'>

In [29]:
a = 10 
b = 5.5
c = "Dasharath"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Question 09
Use the following variables to display an output like the one given in the example

eg:- My name is Harry and I am 18 years old

In [30]:
name = "Dasharath"
Age = 30
print("My name is ",name," and I am ",Age," years old")

My name is  Dasharath  and I am  30  years old

Question 10
Use comments to explain whats happening in each line code given below

In [32]:
num1 = 10  # Assigned 10 to the variable num1
num2 = 20  # Assigned 20 to the variable num2 
num3 = num1 + num2 # Adding num1 and num2 to the variable num3 

print(num3)

30

Data Types ðŸš€


Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

In Python, the data type is set when you assign a value to a variable

Python has a number of data types as follows built-in by default

eg:- str, int, float, complex, list, tuple, range, dict, set, bool, bytes etc...

In [34]:
a = "abc"
b = 10 
c = 15.91
d = [10,5,15]
e = (10,15,10)
f = {"name":"Dasharath","Age":10}
g = False 

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

Completed !!!